{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container-sm d-flex align-items-center justify-content-center vh-100">
        <div class="col-5 border border p-5 rounded-4 shadow">
            <div class="row justify-content-center">
                <form method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Please, sign up</h1>
                    {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.password.first) }}
                        {{ form_row(registrationForm.password.second) }}

                        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                    {{ form_end(registrationForm) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
